@import '../../config/variables';
@import '../../config/mixins';

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  } 
  
  .svg {
    position: absolute;
    left:0;
    right:0;
    width: 100%;
    height: auto;
    bottom:0;
    pointer-events: none;
  }
  
  
.fadeInAnimation {
    opacity: 0;

    .animation(fadeIn 0.2s ease-in forwards 0.2s);

    &.anim11 {
        .animation(fadeIn 0.2s ease-in forwards 0.1s);
    }

    &.anim12 {
        .animation(fadeIn 0.15s ease-in forwards 0.15s);
    }

    &.anim13 {
        .animation(fadeIn 0.2s ease-in forwards 0.22s);
    }

    &.anim14{
        .animation(fadeIn 0.2s ease-in forwards 0.25s);
    }

    &.anim15 {
        .animation(fadeIn 0.2s ease-in forwards 0.3s);
    }

    &.anim15 {
        .animation(fadeIn 0.2s ease-in forwards 0.35s);
    }

    &.anim16{
        .animation(fadeIn 0.2s ease-in forwards 0.37s);
    }

    &.anim17 {
        .animation(fadeIn 0.2s ease-in forwards 0.40s);
    }

    &.anim18 {
        .animation(fadeIn 0.2s ease-in forwards 0.41s);
    }

    &.anim19 {
        .animation(fadeIn 0.2s ease-in forwards 0.46s);
    }

    &.anim111 {
        .animation(fadeIn 0.2s ease-in forwards 0.49s);
    }

    &.anim112 {
        .animation(fadeIn 0.2s ease-in forwards 0.59s);
    }



    &.anim21 {
        .animation(fadeIn 0.2s ease-in forwards 0.6s);
    }

    &.anim22 {
        .animation(fadeIn 0.2s ease-in forwards 0.65s);
    }

    &.anim23 {
        .animation(fadeIn 0.2s ease-in forwards 0.69s);
    }

    &.anim24 {
        .animation(fadeIn 0.2s ease-in forwards 0.72s);
    }

    &.anim25 {
        .animation(fadeIn 0.2s ease-in forwards 0.78s);
    }

    &.anim26 {
        .animation(fadeIn 0.2s ease-in forwards 0.80s);
    }

    &.anim27 {
        .animation(fadeIn 0.2s ease-in forwards 0.85s);
    }



    &.anim31 {
        .animation(fadeIn 0.2s ease-in forwards 0.9s);
    }

    &.anim32 {
        .animation(fadeIn 0.2s ease-in forwards 0.95s);
    }

    &.anim33 {
        .animation(fadeIn 0.2s ease-in forwards 1.09s);
    }

    &.anim34 {
        .animation(fadeIn 0.2s ease-in forwards 1.12s);
    }

    &.anim35 {
        .animation(fadeIn 0.2s ease-in forwards 1.18s);
    }

    &.anim36 {
        .animation(fadeIn 0.2s ease-in forwards 1.25s);
    }

    &.anim37 {
        .animation(fadeIn 0.2s ease-in forwards 1.35s);
    }


}  

.cls1 {
    fill: @red_color;
  }

  .cls2 {
    fill: #fff;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
  }

  .faded {
    .cls1, 
    {
      fill: @gray_color_darker;
    }
    .cls2 {
        fill: @gray_color_light;
    }
}