@import '../../config/variables';
@import '../../config/mixins';

.navigationWrapper {
    max-width: 600px;
    .textContent {
        h3 {
            margin-bottom:0.5rem;
        }
    }
    
    .navigation {
        .flex-display(flex);
        .align-content(stretch);
        margin-top:2rem;
    }
}
